:host {
  width: 100%;
  display: block;
}
.grid-row .grid-col {
  padding-left: var(--h-spacer);
  padding-right: var(--h-spacer);
}

ul {
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

li {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: calc(var(--v-spacer) / 4) calc(var(--h-spacer) / 2);
  will-change: background-color;
  transition: background-color var(--nav-menu-items-transition);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &.right {
    margin-inline-start: auto;
  }

  &.active {
    background-color: var(--background-color-active-header);
  }
}

.menu-accessibility {
  ul {
    margin: 0;
    list-style: none;
    padding: calc(var(--v-spacer) / 4) calc(var(--h-spacer) / 4);
  }
  li {
    white-space: nowrap;
  }
}


