<ul class="grid-row">
  <li routerLinkActive="active" ariaCurrentWhenActive="page">
    <a routerLink="/home">обо&nbsp;мне</a>
  </li>
  <li routerLinkActive="active" ariaCurrentWhenActive="page">
    <a routerLink="/albums">песни</a>
  </li>
  <li routerLinkActive="active" ariaCurrentWhenActive="page">
    <a routerLink="/videos">видео</a>
  </li>
<!--  <li class="right">-->
<!--    <button type="button">-->
<!--      <span class="sr-only">настройки доступности</span>-->
<!--      <app-icon icon="accessibility"></app-icon>-->
<!--    </button>-->
<!--  </li>-->
</ul>
