<ul class="grid-row">
  <li routerLinkActive="active" ariaCurrentWhenActive="page">
    <a routerLink="/home">обо&nbsp;мне</a>
  </li>
  <li routerLinkActive="active" ariaCurrentWhenActive="page">
    <a routerLink="/albums">песни</a>
  </li>
  <li routerLinkActive="active" ariaCurrentWhenActive="page">
    <a routerLink="/videos">видео</a>
  </li>
  <li class="right">
    <app-popup-menu
      id="accessibility"
      iconName="accessibility"
      srOnlyText="настройки доступности"
      class="menu-accessibility"
    >
      <ul>
        <li>
          <button
            type="button"
            (click)="accessibilityS.toggleOutline()"
            class="toggle-outline"
          >
            {{ accessibilityS.hasOutline ? 'отключить' : 'включить'}} более чёткий контур
          </button>
          <input disabled>
        </li>
      </ul>
    </app-popup-menu>
  </li>
</ul>
