<div
  class="wrapper-image"
  [style.width]="width$ | async"
  [style.padding-bottom]="paddingBottom$ | async"
>
  <ng-template *ngIf="imgSrc$ | async; else loggedOut">
    <img
      *ngIf="lazyLoading"
      [lazyLoad]="src || ''"
      alt="{{ alt }}"
    />
    <img
      *ngIf="!lazyLoading"
      [src]="src || ''"
      alt="{{ alt }}"
    />
  </ng-template>

  <ng-template #loggedOut>
    <div class="place-holder">
      <span>{{ alt + (alt ? ' ' : '') + 'отсутствует'}}</span>
    </div>
  </ng-template>
</div>
