header {
  a,
  .toggle-button {
    display: block;
    font-weight: bold;
    color: var(--color-header);
    will-change: color;
    transition: color var(--transition-default);
  }

  a {
    padding: calc(var(--v-spacer) / 4) calc(var(--h-spacer) / 2);
    text-decoration: none;
    &:focus,
    &:hover {
      color: var(--color-header);
    }
  }

  .active a {
    &,
    &:focus,
    &:hover {
      color: var(--color-activet-header);
    }
  }

  .toggle-button {
    padding: calc(var(--v-spacer) / 4) calc(var(--h-spacer) / 4);
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    will-change: background-color;
    transition: background-color var(--transition-default);
    &:focus,
    &:hover {
      background-color: var(--lightgrey);
      color: var(--darkgray);
    }

    .outline &,
    [class=mobile] & {
      border-color: currentColor;
    }
  }

  li {
    --background-color-contrast: var(--lightgrey);
    &.active {
      --background-color-contrast: var(--darkgray);
    }
  }
}
