:root {
  --line-height-default: 1.4;
  --font-size-default: 1rem;
  --font-size-small: .9rem;

  --v-spacer: #{$grid-gutter-width};
  --n-v-spacer: calc(-1 * var(--v-spacer));
  --h-spacer: #{$spacer};
  --n-h-spacer: calc(-1 * var(--h-spacer));

  --grid-spacer: calc(.5 * #{$grid-gutter-width});
  --grid-n-spacer: calc(-.5 * var(--grid-spacer));
  --col-4-width: 33.33%;

  --darkgray: #3a3a3a;
  --lightgrey: #f3f3f3;
  --text-color-primary: #000;

  --transition-default: 200ms ease;

  --background-color-primary: #f2f3f3;
  --background-color-contrast: var(--darkgray);
  --background-color-card: #fff;

  --background-color-header: var(--background-color-contrast);
  --background-color-active-header: var(--background-color-primary);
  --color-header: var(--lightgrey);
  --color-activet-header: var(--darkgray);

  --border-primary: 1px solid var(--lightgrey);
  --border-radius-default: 4px;
  --box-shadow:       1px 4px 6px -3px var(--darkgray);
  --box-shadow-hover: 1px 4px 6px -4px var(--darkgray);

  --detail-title-margin-inline-start: var(--col-4-width);
  --details-dotted-display: block;

  --card-text-small: 100%;

  --font-family-default: "Open Sans", sans-serif;

  --modal-z-index: 1000;
  --modal-width: auto;
  --modal-height: auto;
  --modal-min-width: 640px;
  --modal-min-height: 480px;

  .tablet {
    --v-spacer: #{.5 * $grid-gutter-width};
    --n-v-spacer: calc(-1 * var(--v-spacer));
    --h-spacer:  #{.5 * $spacer};
    --n-h-spacer: calc(-1 * var(--h-spacer));

    --grid-spacer: calc(var(--h-spacer) / 2);
    --grid-n-spacer: calc(var(--n-h-spacer) / 2);
  }

  .mobile {
    --font-size-default: 1.2rem;
    --font-size-small: 1.1rem;

    --v-spacer: #{.5 * $grid-gutter-width};
    --n-v-spacer: calc(-1 * var(--v-spacer));
    --h-spacer:  #{.5 * $spacer};
    --n-h-spacer: calc(-1 * var(--h-spacer));

    --grid-spacer: calc(var(--h-spacer) / 2);
    --grid-n-spacer: calc(var(--n-h-spacer) / 2);
    --col-4-width: 100%;

    --card-text-small: 80%;

    --detail-title-margin-inline-start: 0;
    --details-dotted-display: none;

    --modal-width: 100%;
    --modal-height: 100%;
    --modal-min-width: 200px;
    --modal-min-height: 150px;

    --youtube-player-width: 640px;
    --youtube-player-height: 360px;

    &.landscape {
      --col-4-width: 50%;
    }
  }

  .dark {
    --background-color-primary: var(--darkgray);
    --background-color-contrast: #fff;

    --background-color-header: var(--background-color-contrast);
    --background-color-active-header: var(--background-color-primary);
    --color-header: var(--darkgray);
    --color-activet-header: var(--lightgrey);
  }
}
