:root {
  --line-height-default: 1.4;
  --font-size-default: 1rem;

  --v-spacer: 24px;
  --n-v-spacer: calc(-1 * var(--v-spacer));
  --h-spacer: 24px;
  --n-h-spacer: calc(-1 * var(--h-spacer));

  --grid-spacer: calc(var(--h-spacer) / 2);
  --grid-n-spacer: calc(var(--n-h-spacer) / 2);
  --col-3-width: 25%;
  --col-4-width: 33.33%;
  --col-6-width: 50%;
  --col-8-width: 66.66%;
  --col-9-width: 75%;
  --col-12-width: 100%;

  --darkgray: #3a3a3a;
  --lightgrey: #f3f3f3;
  --text-color-primary: #000;

  --background-color-primary: #f2f3f3;
  --background-color-contrast: var(--darkgray);
  --background-color-card: #fff;

  --background-color-header: var(--background-color-contrast);
  --background-color-active-header: var(--background-color-primary);
  --color-header: var(--lightgrey);
  --color-activet-header: var(--darkgray);

  --border-primary: 1px solid var(--lightgrey);
  --border-radius-default: 4px;
  --box-shadow:       1px 4px 6px -3px var(--darkgray);
  --box-shadow-hover: 1px 4px 6px -4px var(--darkgray);

  --card-flex-direction: column-reverse;
  --card-fixed-flex-direction: row-reverse;
  --card-image-width: 100%;
  --card-image-fixed-width: 33.33%;
  --card-inner-padding: var(--grid-spacer);
  --card-inner-padding-fixed: var(--grid-spacer) 0;
  --card-content-padding: 0;
  --card-content-padding-fixed: 0 var(--grid-spacer);
  --card-text-small: 100%;

  --detail-title-margin-inline-start: var(--col-4-width);
  --details-dotted-display: block;

  --card-transition: 100ms ease;
  --nav-menu-items-transition: 200ms linear;

  --font-family-default: "Open Sans", sans-serif;

  --modal-z-index: 1000;
  --modal-width: auto;
  --modal-height: auto;
  --modal-min-width: 640px;
  --modal-min-height: 480px;

  .tablet {
    --v-spacer: 12px;
    --n-v-spacer: calc(-1 * var(--v-spacer));
    --h-spacer: 12px;
    --n-h-spacer: calc(-1 * var(--h-spacer));

    --grid-spacer: calc(var(--h-spacer) / 2);
    --grid-n-spacer: calc(var(--n-h-spacer) / 2);
    --col-3-width: 33.33%;
    --col-9-width: 66.66%;
  }

  .mobile {
    --font-size-default: 1.2rem;

    --v-spacer: 12px;
    --n-v-spacer: calc(-1 * var(--v-spacer));
    --h-spacer: 12px;
    --n-h-spacer: calc(-1 * var(--h-spacer));

    --grid-spacer: calc(var(--h-spacer) / 2);
    --grid-n-spacer: calc(var(--n-h-spacer) / 2);
    --col-3-width: 100%;
    --col-4-width: 100%;
    --col-8-width: 100%;
    --col-9-width: 100%;

    --card-flex-direction: row-reverse;
    --card-fixed-flex-direction: column-reverse;
    --card-image-width: 40%;
    --card-image-fixed-width: 100%;
    --card-inner-padding: var(--grid-spacer) 0;
    --card-inner-padding-fixed: var(--grid-spacer);
    --card-content-padding: 0 var(--grid-spacer);
    --card-content-padding-fixed: 0;
    --card-text-small: 80%;

    --detail-title-margin-inline-start: 0;
    --details-dotted-display: none;

    --modal-width: 100%;
    --modal-height: 100%;
    --modal-min-width: 200px;
    --modal-min-height: 150px;

    --youtube-player-width: 640px;
    --youtube-player-height: 360px;

    &.landscape {
      --col-3-width: 50%;
      --col-4-width: 50%;
      --col-8-width: 50%;
      --col-9-width: 50%;

      --card-fixed-flex-direction: row-reverse;
      --card-image-width: 33.33%;
      --card-image-fixed-width: 50%;
      --card-inner-padding-fixed: 0;
      --card-content-padding-fixed: var(--grid-spacer);
    }
  }

  .dark {
    --background-color-primary: var(--darkgray);
    --background-color-contrast: #fff;

    --background-color-header: var(--background-color-contrast);
    --background-color-active-header: var(--background-color-primary);
    --color-header: var(--darkgray);
    --color-activet-header: var(--lightgrey);
  }
}
