@if (albumDetails$ | async; as albumDetails) {
  <div class="grid-container">
    <h2>
      @if (albumDetails.author) {
        <span>{{ albumDetails.author }} </span><wbr/>
      }
      <span>«</span>{{ albumDetails.title }}<span>»</span>
      @if (albumDetails.releaseYear) {
        <wbr/><span> {{ albumDetails.releaseYear }}&nbsp;г.</span>
      }
    </h2>
    <div class="grid-row float">
      <div class="grid-col image left">
        <app-image
          [src]="albumDetails.coverImageSrc"
          [alt]="'обложка альбома «' + albumDetails.title + '»'"
        />
      </div>
      <div class="grid-col">
        @if (albumDetails.members?.length) {
          <p>Участники:</p>
          <div class="members-wrapper">
            <ul>
              @for (member of albumDetails.members; track $index) {
                <li>
                  @if (member.link) {
                    <a [href]="member.link" target="_blank">
                      <strong>{{ member.name }}</strong>
                    </a>
                  } @else {
                    <strong>{{ member.name }}</strong>
                  }
                  @if (member.description) {
                    <span> - {{ member.description }}</span>
                  }
                </li>
              }
            </ul>
          </div>
        }
        @for (description of albumDetails?.description; track $index) {
          <p>
            {{ description }}
          </p>
        }
      </div>
      @if (albumDetails?.tracks) {
        <ol class="grid-col tracks">
          @for (track of (albumDetails.tracks); track $index) {
            <li>
              <h3>{{ track.title }}</h3>
              @if (track.url) {
                <app-audio [src]="track.url" />
              }
              @if (track.author) {
                <app-author
                  [author]="track.author"
                  [class]="{ 'top-line': !track.url }"
                ></app-author>
              }
            </li>
          }
        </ol>
      }
    </div>
  </div>
}
