@if (albumDetails$ | async; as albumDetails) {
  <div class="grid-container">
    <h2>
      @if (albumDetails.author) {
        <span>{{ albumDetails.author }} </span><wbr/>
      }
      <span>«</span>{{ albumDetails.title }}<span>»</span>
      @if (albumDetails.releaseYear) {
        <wbr/><span> {{ albumDetails.releaseYear }}&nbsp;г.</span>
      }
    </h2>

    <div class="grid-float">
      <app-image
        [src]="albumDetails.coverImageSrc"
        [alt]="'обложка альбома «' + albumDetails.title + '»'"
        class="left"
      />

      @if (albumDetails.members) {
        <div>
          <p>Участники:</p>
          <div class="members-wrapper">
            <ul>
              @for (member of albumDetails.members; track $index) {
                <li>
                  @if (member.link) {
                    <a [href]="member.link" target="_blank">
                      <strong>{{ member.name }}</strong>
                    </a>
                  } @else {
                    <strong>{{ member.name }}</strong>
                  }
                  @if (member.description) {
                    <span> - {{ member.description }}</span>
                  }
                </li>
              }
            </ul>
          </div>
        </div>
      }

      @for (description of albumDetails.description; track $index) {
        <p>
          {{ description }}
        </p>
      }

      @if (albumDetails?.tracks) {
        <ol class="tracks">
          @for (song of (albumDetails.tracks); track $index) {
            <li>
              <h3>{{ song.title }}</h3>
              @if (song.url) {
                <app-audio [src]="song.url" />
              }
              @if (song.author) {
                <app-author
                  [author]="song.author"
                  [class]="{ 'top-line': !song.url }"
                />
              }
            </li>
          }
        </ol>
      }
    </div>
  </div>
}
