<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col">
      <h2>музыкант, композитор, автор песен, звукоинженер</h2>
      <ul>
        <li>сооснователь тверской групы <strong>Кассовый аппарат</strong></li>
        <li>сооснователь гамбургской групы <strong>Jurassic blues</strong></li>
        <li>бассист дортмундовской группы <strong>Трава</strong></li>
        <li>бассист группы <strong>Модест</strong></li>
        <li>бассист группы <strong>Выход</strong> (в составе группы Трава)</li>
      </ul>
    </div>

    <div class="grid-col image" [class]="{ fixed: isMobile }">
      <app-image
        [src]="imageSrc"
        alt="Алексей Шварц"
        height="104%"
      ></app-image>
    </div>
  </div>


  @if (youtubeCookies) {
    @if (lastVideo$ | async; as lastVideo) {
      @if (lastVideo?.length && lastVideo[0]) {
        @if (lastVideo[0]; as video) {
          <hr />
          <h2>Новое видео</h2>
          <div class="grid-row">
            <div class="grid-col image" [class]="{ fixed: isMobile }">
              <button
                type="button"
                (click)="openModal(currentModalTriggerEl, video)"
                aria-haspopup="dialog"
                aria-controls="video-modal"
                #currentModalTriggerEl
                [attr.aria-expanded]="(isModalOpen$ | async) && ((modalTriggerEl$ | async) === currentModalTriggerEl)"
                class="card"
                >
                <div class="card-image">
                  <app-image
                    [src]="video.snippet.thumbnails.high.url"
                    [alt]="video.snippet.title"
                    height="56.25%"
                  ></app-image>
                </div>
              </button>
            </div>
            <div class="grid-col">
              <p><strong>{{ video.snippet.title }}</strong></p>
              <p>{{ video.snippet.description }}</p>
            </div>
          </div>
          @if (modalContent$ | async; as modalContent) {
            <app-modal-dialog
              id="video-modal"
              [title]="modalContent.snippet.title ?? ''"
            >
              <app-youtube-player
                [videoId]="modalContent.id.videoId"
                [autoplay]="true"
              ></app-youtube-player>
            </app-modal-dialog>
          }
        }
      }
    }
  } @else {
    <hr />
    <p>
      Для просмотра видео с моего канала на Youtube <button
        type="button"
        (click)="acceptCookies()"
        class="link"
      >примите все файлы cookie</button>.
    </p>
  }
  </div>
