<div class="grid-container">
  <div class="grid-row float">
    <div class="grid-col left image">
      <app-image
        [src]="imageSrc"
        alt="Алексей Шварц"
        height="104%"
      ></app-image>
    </div>

    <div class="grid-col">
      <h2>музыкант, композитор, автор песен, звукоинженер</h2>
      <p>Участник и сооснователь групп <strong>Кассовый аппарат</strong> (г. Тверь) и <strong>Jurassic blues</strong> (г. Гамбург).</p>
      <p>Так же бассист группз <strong>Трава</strong> (г. Дортмунд), <strong>Модест</strong> (г. Гамбург), <strong>Выход</strong> (в составе группы Трава).</p>
    </div>
  </div>
</div>
