<div class="grid-container">
  <div class="row">
    <div class="col">
      <h2>музыкант, композитор, автор песен, звукоинженер</h2>
      <ul>
        <li>сооснователь тверской групы <strong>Кассовый аппарат</strong></li>
        <li>сооснователь гамбургской групы <strong>Jurassic blues</strong></li>
        <li>бассист дортмундовской группы <strong>Трава</strong></li>
        <li>бассист группы <strong>Модест</strong></li>
        <li>бассист группы <strong>Выход</strong> (в составе группы Трава)</li>
      </ul>
    </div>

    <div class="col-12 col-sm-4 order-first order-sm-last">
      <app-image [src]="imageSrc" alt="Алексей Шварц" height="104%" />
    </div>
  </div>

  @if (youTubeS.cookie()) {
    @if (lastVideo$ | async; as lastVideo) {
      @if (lastVideo?.length && lastVideo[0]) {
        @if (lastVideo[0]; as video) {
          <hr />
          <h2>Новое видео</h2>
          <div class="row">
            <div class="col-12 col-sm-4">
              <button
                type="button"
                (click)="openModal(currentModalTriggerEl, video)"
                aria-haspopup="dialog"
                aria-controls="video-modal"
                #currentModalTriggerEl
                [attr.aria-expanded]="modalS.isOpen() && (modalS.triggerEl() === currentModalTriggerEl)"
                class="card"
              >
                <div class="card-image">
                  <app-image
                    [src]="video.snippet.thumbnails.high.url"
                    [alt]="video.snippet.title"
                    height="56.25%"
                  />
                </div>
              </button>
            </div>
            <div class="col">
              <p><strong>{{ video.snippet.title }}</strong></p>
              <p>{{ video.snippet.description }}</p>
            </div>
          </div>
          @if (modalS.content(); as modalContent) {
            <app-modal-dialog
              id="video-modal"
              [title]="modalContent.snippet.title ?? ''"
            >
              <app-youtube-player
                [videoId]="modalContent.id.videoId"
                [autoplay]="true"
              />
            </app-modal-dialog>
          }
        }
      }
    }
  } @else {
    <hr />
    <app-cookie />
  }
  </div>
