@import "theme/bootstrap";
@import "theme/variables";
@import "theme/grid";
@import "theme/typography";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  background-color: var(--background-color-primary);
  &.modal-open {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button {
  cursor: pointer;
}

.link,
button {
  font-family: var(--font-family-default);
  font-size: 100%;
}

.link {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
}

.link,
a {
  display: inline-block;
  color: var(--text-color-primary);
  &:focus,
  &:hover,
  &.active {
    text-decoration: none;
    color: var(--darkgray);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  color: var(--darkgray);
}

.outline {
  *:focus {
    border-radius: var(--border-radius-default);
    outline: var(--background-color-contrast) solid 4px;
  }
}

@import "theme/header-menu-based";
@import "theme/card";
