@import "theme/variables";
@import "theme/typography";
@import "theme/grid";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  background-color: var(--background-color-primary);
  &.modal-open {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.page {
  transition: opacity .3s ease;
  &.loading {
    opacity: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button {
  cursor: pointer;
}

.link,
button {
  font-family: var(--font-family-default);
  font-size: 100%;
}

.link {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
}

.link,
a {
  display: inline-block;
  color: var(--text-color-primary);
  &:focus,
  &:hover,
  &.active {
    text-decoration: none;
    color: var(--darkgray);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  color: var(--darkgray);
}

button,
a {
  &.card {
    will-change: box-shadow, transform;
    transition: 'box-shadow' var(--card-transition), 'transform' var(--card-transition);
    box-shadow: var(--box-shadow);

    &:hover,
    &:focus {
      transform: scale(99%);
      box-shadow: var(--box-shadow-hover);
    }
  }
}

.card {
  display: flex;
  flex-direction: var(--card-flex-direction);
  justify-content: flex-end;
  width: 100%;
  padding: var(--card-inner-padding);
  margin: var(--grid-spacer) 0;
  border: var(--border-primary);
  background-color: var(--background-color-card);
  border-radius: var(--border-radius-default);
  text-decoration: none;
  color: var(--text-color-primary);
  text-align: start;

  &-header {
    font-weight: bold;
    font-size: var(--card-text-small);
  }

  &-image,
  &-body {
    padding: var(--card-content-padding);
  }

  &-image {
    width: var(--card-image-width);
    flex-shrink: 0;
    position: relative;
  }
  &-body p {
    margin-bottom: 0;
  }

  &.horizontal {
    flex-direction: var(--card-fixed-flex-direction);
    padding: var(--card-inner-padding-fixed);

    .card-image,
    .card-body {
      padding: var(--card-content-padding-fixed);
    }
    .card-image {
      width: var(--card-image-fixed-width);
    }
  }
}

.outline {
  *:focus {
    border-radius: var(--border-radius-default);
    outline: var(--background-color-contrast) solid 4px;
  }
}

@import "theme/header-menu-based";
