@import "theme/variables";
@import "theme/typography";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  background-color: var(--background-color-primary);
  &.modal-open {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.grid {
  &-container {
    width: 100%;
    max-width: 1140px;
    padding-left: var(--h-spacer);
    padding-right: var(--h-spacer);
    margin-left: auto;
    margin-right: auto;

    &-fluid {
      max-width: 100%;
    }
  }
  &-row {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--grid-n-spacer);
    margin-right: var(--grid-n-spacer);
    padding-left: 0;
    padding-right: 0;

    .grid-col {
      padding-left: var(--grid-spacer);
      padding-right: var(--grid-spacer);
    }

    &.float {
      display: flow-root;
      margin-left: var(--n-h-spacer);
      margin-right: var(--n-h-spacer);

      .grid-col {
        padding-left: var(--h-spacer);
        padding-right: var(--h-spacer);
        &.left {
          float: left;
        }
        &.right {
          float: left;
        }
      }
    }
  }
}

button {
  cursor: pointer;
}

.link,
button {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
}

.link {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
}

.link,
a {
  display: inline-block;
  color: var(--text-color-primary);
  &:focus,
  &:hover,
  &.active {
    text-decoration: none;
    color: var(--darkgray);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  color: var(--darkgray);
}

.card {
  display: flex;
  flex-direction: var(--card-flex-direction);
  justify-content: flex-end;
  width: 100%;
  padding: var(--card-inner-padding);
  margin: var(--grid-spacer) 0;
  border: var(--border-primary);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-default);
  text-decoration: none;
  color: var(--text-color-primary);
  will-change: box-shadow, transform;
  transition: 'box-shadow' var(--card-transition), 'transform' var(--card-transition);
  text-align: start;

  &:hover,
  &:focus {
    transform: scale(99%);
    box-shadow: var(--box-shadow-hover);
  }

  &-header {
    font-weight: bold;
    font-size: var(--card-text-small);
  }

  &-image,
  &-body {
    padding: var(--card-content-padding);
  }

  &-image {
    width: var(--card-image-width);
    flex-shrink: 0;
    position: relative;
  }
  &-body p {
    margin-bottom: 0;
  }

  .fixed & {
    flex-direction: var(--card-fixed-flex-direction);
    padding: var(--card-inner-padding-fixed);

    &-image,
    &-body {
      padding: var(--card-content-padding-fixed);
    }
    &-image {
      width: var(--card-image-fixed-width);
    }
  }
}
