<div class="grid-container">
  @if (youtubeCookies) {
    <h2>Плейлисты</h2>
    <ul class="grid-row">
      @if (allPlayList$ | async; as allPlayList) {
        @for (playList of allPlayList; track playList) {
          <li
            class="grid-col fixed"
            [class]="{ fixed: !isMobile }"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >
            <a
              routerLink="/videos/playlist"
              class="card"
              (click)="setCurrentVideoPlaylistId(playList)"
              >
              <div class="card-body">
                <p class="card-header">
                  {{ playList.snippet.title }}
                </p>
                @if (playList.snippet.description) {
                  <div class="card-description">
                    {{ playList.snippet.description | truncate: 20 }}
                  </div>
                }
              </div>
              <div class="card-image">
                <app-image
                  [src]="playList.snippet.thumbnails.high.url"
                  [alt]="'...'"
                  height="75%"
                ></app-image>
              </div>
            </a>
          </li>
        }
      } @else {
        <li class="grid-col fixed" [class]="{ fixed: !isMobile }">
          <div class="card">
            <div class="card-body">
              <p class="card-header">&nbsp;</p>
              <div class="card-description">&nbsp;</div>
            </div>
            <div class="card-image">
              <app-image src="" height="75%"></app-image>
            </div>
          </div>
        </li>
      }
    </ul>
  } @else {
    <p>
      Для просмотра видео с моего канала на Youtube <button
      type="button"
      (click)="acceptCookies()"
      class="link"
    >примите все файлы cookie</button>.
  </p>
}


<!--  <ng-container *ngIf="allVideoList$ | async as allVideoList">-->
<!--    <h2>Все видео</h2>-->
<!--    <ul *ngIf="allVideoList.length" class="grid-row">-->
<!--      <li-->
<!--        *ngFor="let video of allVideoList"-->
<!--        class="grid-col"-->
<!--      >-->
<!--        <div [style.width]="'100%'">-->
<!--          <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">-->
<!--            <app-image-->
<!--              [src]="video.snippet.thumbnails.medium.url"-->
<!--              [alt]="'...'"-->
<!--              height="56.25%"-->
<!--            ></app-image>-->
<!--          </a>-->
<!--          <div>-->
<!--            <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">-->
<!--              {{ video.snippet.title }}-->
<!--            </a>-->
<!--            <p>-->
<!--              {{ video.snippet.description }}-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </ng-container>-->
</div>
