<div class="grid-container">
  @if (youTubeS.cookie()) {
    <h2>Плейлисты</h2>
    <ul class="row">
      @for (playList of youTubeS.allVideoPlaylist$ | async; track $index) {
        <li
          class="col-12 col-sm-6"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <a
            routerLink="/videos/playlist"
            (click)="setCurrentVideoPlaylistId(playList)"
            class="card horizontal"
          >
            <div class="card-body">
              <p class="card-header">
                {{ playList.snippet.title }}
              </p>
              @if (playList.snippet.description) {
                <div class="card-description">
                  {{ playList.snippet.description | truncate: 20 }}
                </div>
              }
            </div>
            <div class="card-image w-40">
              <app-image
                [src]="playList.snippet.thumbnails.high.url"
                [alt]="'...'"
                height="75%"
              />
            </div>
          </a>
        </li>
      } @empty {
        <li class="col-12 col-sm-6">
          <div class="card" [class.horizontal]="!(isTablet || isMobile)">
            <div class="card-body">
              <p class="card-header">&nbsp;</p>
              <div class="card-description">&nbsp;</div>
            </div>
            <div class="card-image">
              <app-image src="" height="75%" />
            </div>
          </div>
        </li>
      }
    </ul>
  } @else {
    <app-cookie />
  }
</div>
