<div class="grid-container">
  <h2>Дискография</h2>
  @if (vm$ | async; as albumAll) {
    @for (albumGroup of albumAll; track albumGroup) {
      <h3>{{ albumGroup.title }}</h3>
      @if (albumGroup.list.length) {
        <ul class="grid-row">
          @for (album of albumGroup.list; track album) {
            <li
              class="grid-col"
              [class]="{ fixed: album.fixed || !album.id }"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >
              <a routerLink="/albums/{{ album.id }}" class="card">
                <div class="card-body">
                  <p class="card-header">
                    <span class="author">{{ album.author }}</span>&nbsp;
                    @if (album?.releaseYear) {
                      <span class="year">{{ album.releaseYear }}</span>
                    }
                  </p>
                  <div class="card-description">
                    <span class="title">{{ album.title }}</span>
                    @if (album.fixed) {
                      <span>{{ album.description?.[0] | truncate: 440 }}</span>
                    }
                  </div>
                </div>
                <div class="card-image">
                  <app-image
                    [src]="album.coverImageSrc"
                    [alt]="'обложка альбома «' + album.title + '»'"
                  ></app-image>
                </div>
              </a>
            </li>
          }
        </ul>
      }
    }
  }
</div>
