.grid-col {
  width: var(--col-3-width);
  display: flex;
  &.fixed {
    width: var(--col-12-width);
  }
}

.card {
  .author,
  .year {
    font-weight: bold;
    font-size: var(--card-text-small);
  }
}
